@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #4baf50;
  --primary-hover-color: #338351;
  --secondary-color: #c1c1c1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground); */
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
    color: black;
  }
}
/* top head sec css start */

@layer components {
  .primary-text-color {
    @apply text-[#4BAF50];
  }
  .auth-background {
    @apply bg-[url('/images/auth-bg.png')] bg-no-repeat bg-cover bg-center bg-[#F2F2F2] h-screen overflow-auto;
  }

  .login-form-container {
    @apply max-w-[584px] w-full min-h-[84vh] flex flex-col items-center justify-center mx-auto;
  }

  .auth-btn {
    @apply bg-[var(--primary-color)] w-full py-3 text-white text-[16px] font-medium rounded-lg mt-7;
  }

  .login-copyright {
    @apply flex justify-between items-center border-t border-black pt-5 relative w-full max-w-[800px] mt-5 pb-5 md:flex-col md:gap-2 md:bottom-0 md:items-center md:justify-center;
  }

  .login-copyright-li {
    @apply sm:text-[14px] sm:flex-wrap sm:whitespace-nowrap;
  }
  .career-social-icon {
    @apply flex gap-4 mb-3.5 md:flex md:items-center md:justify-center;
  }

  .tab-block {
    @apply text-gray-600 font-semibold text-center bg-white text-[15px] py-1 rounded-lg px-8 cursor-pointer hover:bg-[var(--primary-hover-color)] hover:text-white transition-all;
  }
  .active-tab {
    @apply text-white bg-[var(--primary-color)] hover:bg-[var(--primary-hover-color)] hover:text-white;
  }
  .label {
    @apply text-sm font-semibold mb-1;
  }
  .auth-input {
    @apply px-4 py-3 bg-gray-100 focus:bg-transparent w-full text-sm outline-[#333] rounded-lg transition-all;
  }
  .common-btn {
    @apply py-2 font-medium bg-green-400 text-white rounded-full focus:outline-none;
  }
  .common-card {
    @apply rounded-lg shadow-sm border border-gray-300 p-8 max-w-screen-md;
  }
  .common-small-text{
    @apply text-xs text-gray-500
  }
  .main-container{
    @apply flex flex-col items-center
  }
}

.second-head-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.second-head {
  background: #fff;
  padding: 34px 0;
  color: black;
}

/* home hero BG */

section.hero {
  position: relative;
}

section.hero:after {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  right: 110px;
  bottom: -10px;
  background: url(../assets/images/breakfast-hero-img.png);
  background-position: center;
  background-size: cover;
}
section.hero:before {
  content: "";
  position: absolute;
  width: 240px;
  height: 300px;
  left: 0px;
  top: 0;
  background: url(../assets/images/buns.png);
  background-position: center;
  background-size: cover;
}

.left-sidetext-pattern {
  position: relative;
}
.left-sidetext-pattern:after {
  content: "";
  position: absolute;
  width: 200px;
  left: -4px;
  top: 0;
  background: url(/_next/static/media/Left-side-big-Text.c4d711bc.png);
  background-position: center;
  background-size: cover;
  height: 1200px;
  z-index: -1;
}
.fresh-health {
  position: relative;
}
.three-sections:after {
  content: "";
  position: absolute;
  width: 300px;
  height: 100%;
  top: 0;
  background: url(/_next/static/media/bg-dots.d0748ba8.png);
  background-position: center;
  background-size: cover;
  transform: translateX(-50%);
  left: 50%;
  z-index: -1;
}
.fresh-health:before {
  content: "";
  position: absolute;
  width: 330px;
  height: 100%;
  top: 90px;
  left: 0px;
  background: url(/_next/static/media/greencircle.c25edb15.png);
  background-position: center right;
  background-size: contain;
  z-index: -1;
  background-repeat: no-repeat;
}
.fresh-health:after {
  content: "";
  position: absolute;
  width: 330px;
  height: 100%;
  top: 0px;
  right: 0px;
  background: url(/_next/static/media/freash-healthbg.4674d441.png);
  z-index: -1;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Targeting the slick-prev and slick-next classes to change their colors */
/* Ensure arrows are above the images */
.slick-prev, 
.slick-next {
  position: absolute;
  top: 50%;
  z-index: 10; /* Make sure they are above the image */
  background-color: white; /* Optional: add background */
  border-radius: 50%;
  color: black;
  font-size: 30px; /* Size of the arrows */
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Optional: Remove default arrow icons and customize */
.slick-prev:before,
.slick-next:before {
  content: ''; /* Remove the default icons */
  font-size: 30px; /* You can adjust this to increase the arrow size */
  color: black !important; /* Change arrow color */
}

/* Arrow positioning */
.slick-prev {
  left: 10px !important; /* Adjust as needed */
}

.slick-next {
  right: 10px !important; /* Adjust as needed */
}
.hero-bg-img{
  background-image: url(../assets/images/Home-Page-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

